@use '../variable' as v;

.card{
    padding: 2rem;
    width: 360px;
    border-radius: 6px;
    background: v.$card-gray;
}
.card-icon{
    background: v.$black;
    position: relative;
    left: 16px;
    top: 32px;
    height: 64px;
    width: 64px;
    border-radius: 6px;
    text-align: center;

    //効いてない
    /*&fa{
        font-size: 48px;
        position: relative;
        top:8px
    }*/
}

.card-icon .fa {
    font-size: 48px;
    position: relative;
    top: 8px;
}

.card-description{
    color: v.$lightgray;
}
.card-footer{
    margin: 16px 0;
}