@use '../variable' as v;

.footer{
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background:v.$font-color-background-color;
}
.footer-logo{
    font-size: 2rem;
}

.footer-links{
    h4{
        margin: 2px;
        margin-right: 1rem;
    }
    li{
        margin-right: 1rem;
    }
}

.l-align-center ul{
    padding-left: 0;
}