//@use '../layout' as v

.sidebar{
    background:#1F1F26;
}

.sidebar-menu{
    a{
        display: block;
        padding-left: 16px;
    }
}

.get-start-text{
    margin:0.2em;
    font-size:0.8em;
    text-align: center;
    color:#b7bbc8;
}

.sidebar-menu-list{
    padding-left: 0px;
}


.sidebar-menu-sub-list{
    margin-bottom:16px;
    padding-left: 0px;
}

.sidebar-menu-title{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    margin-left: 16px;
}