@use '../variable' as v;

.text-warning{
    color:v.$warning-color;
}

.text-primary{
    color: v.$primary-color;
}

.text-accent{
    color: v.$accent-color;
}

.text-weak{
    color: v.$lightgray;
}

.text-bold{
    font-weight: bold;
}